<mat-sidenav-container class="layout-container">
  
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarVisible">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Conteúdo principal -->
  <mat-sidenav-content>

    <!-- Topbar -->
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>

    <!-- Page Content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
