:host {
  display: block;
  padding: 24px 16px;
}

.menu-title {
  padding: 0 4px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: var(--mat-sys-primary);
}

.mat-nav-list {
  margin-top: 16px;
}
